<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bitte Fin abfotografieren.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card>
    <mat-card-content>
      <ion-toolbar color="primary">
        <ion-button fill="clear" expand="full" color="light" (click)="takePicture()">
          <ion-icon slot="start" name="camera"></ion-icon>
          Select Image</ion-button>
      </ion-toolbar>
    </mat-card-content>




  </mat-card>
</ion-content>
